{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Settings{% endblock %}</h1>
{% endblock header %} 

{% block content %}
    <form method="post">
        <label for="blogname">Blog Name</label>
        <input type="blogname" name="blogname" id="blogname" value="{{ config.blog_name }}" required="True">

        <label for="contactemail">Contact Email</label>
        <input type="contactemail" name="contactemail" id="contactemail" value="{{ config.contact_email }}" required="True">

        <label for="githuburl">GitHub URL</label>
        <input name="githuburl" id="githuburl" value="{{ config.github_url }}" required="True">

        <label for="linkedinurl">LinkedIn URL</label>
        <input type="linkedinurl" name="linkedinurl" id="linkedinurl" value="{{ config.linkedin_url }}" required="True">

        <label for="register">Enable Register</label>
        <input type="register" name="register" id="register" value="{{ config.register }}" required="True">

        <h2>
            Customise
            <hr width="100%">
        </h2>
        <p>
           To add custom files, add them into the static directory and reference them here.
        </p>

        <label for="usericon">User Icon</label>
        <input type="usericon" name="usericon" id="usericon" value="{{ config.user_icon }}" required="True">

        <label for="markdownpath">Markdown Path</label>
        <input name="markdownpath" id="markdownpath" value="{{ config.markdown_path }}" required="True">

        <label for="panoramics">Panoramics Path</label>
        <input type="panoramics" name="panoramics" id="panoramics" value="{{ config.panoramic_path }}" required="True">

        <label for="use_copy_date_start">Enable Copyright Start Date</label>
        <input type="use_copy_date_start" name="use_copy_date_start" id="use_copy_date_start" value="{{ config.use_copy_date_start }}" required="True">

        <label for="copy_date_start">Copyright Start Date</label>
        <input type="copy_date_start" name="copy_date_start" id="copy_date_start" value="{{ config.copy_date_start }}" required="True">

        <label for="copy_date_end">Copyright End Date</label>
        <input type="copy_date_end" name="copy_date_end" id="copy_date_end" value="{{ config.copy_date_end }}" required="True">
        
        <input type="submit" value="Update">
    </form>
{% endblock content %}

